DATABASE_URL=
ApplicationSettings__JWT_Secret=
ApplicationSettings__Client_URL=
App__FrontendUrl=
CORS_ALLOWED_ORIGINS=
Email__SmtpHost=
Email__SmtpPort=587
Email__Username=
Email__Password=
Email__From=
EnableSwagger=false
